.Chart-Container {
  width: 50%;
  padding-top: 10%;
}

.Container {
  height: 100vh;
}
.Task-Container {
  width: 24vw;
}
.Button-Container {
  margin-right: 20%;
}
.react-datepicker-wrapper {
  display: block !important;
}
.Create-Project {
  width: 500px;
}
.fullHeight {
  height: 100vh;
}
.Project-Data-Button {
  width: 7vw;
}
.Leave-Project {
}
